.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #343350;
}

.sub-header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 5px 20px;
}

.sub-header-link {
    text-transform: capitalize;
    margin: 5px 20px;
    color: white;
    position: relative;
}

.close-profile-icon:after{
    /* chevron-down */

    position: absolute;
    width: 24px;
    height: 24px;



    /* Vector */

    left: 25%;
    right: 25%;
    top: 37.5%;
    bottom: 37.5%;

    border: 2px solid #FFFFFF;

}

.open-profile-icon:hover, .close-profile-icon:hover {
    cursor: pointer;
}
.open-profile-icon:after {
    content: "\f077";
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
    background-color: #2E2E2E;
    margin-left: 10px;
    position: absolute;
    top: 10px;
}

.profile-settings-wrapper {
    position: absolute;
    color: white;
    background-color: #343350;
    display: flex;
    flex-flow: column;
    border-radius: 0 0 7px 7px;
    right: -35px;
    top: 65px;
}

.profile-settings-item {
    padding: 5px 5px;
    font-size: 15px;
    /*margin: 5px;*/
    border-bottom: 1px solid #343350;
    width: 180px;
}
.profile-settings-item:hover {
    /*background-color: white;*/
    border-bottom: 1px solid white;
    /*color: black;*/
    cursor: pointer;
}
